aiohttp==1.0.5
async-timeout==2.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
future==0.16.0
idna==2.6
mathparse==0.1.1
multidict==4.1.0
nltk==3.2.5
oauthlib==2.0.7
praw==6.0.0
prawcore==1.0.0
pycparser==2.18
pymongo==3.6.1
PyNaCl==1.2.1
PySocks==1.6.8
python-dateutil==2.6.1
python-twitter==3.4.1
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
schedule==0.6.0
six==1.11.0
SQLAlchemy==1.2.6
tweepy==3.7.0
update-checker==0.16
urllib3==1.22
websockets==3.4
